$heading-font: Montserrat;
$body-font: Raleway;
$emphasis: 800;


$primary-color: #5D5156;


$center: 10px auto;

$rounded-corners: 10px;

$shadow: 5px 5px 5px grey;
$hover-shadow: 10px 5px 5px #F7CCAC;

$border: 3px solid #5D5156;
$hover-border: 4px solid #A67086;

$opaque-white: rgba(255,255,255,0.9);
$opaque-tan: rgba(214, 201, 199, 0.9);
