$heading-font: Montserrat;
$body-font: Raleway;
$emphasis: 800;


$shannon-var: #ffffff;

$center: 10px auto;

$rounded-corners: 10px;

$shadow: 5px 5px 5px grey;

$border: 3px solid #5D5156;

$opaque-white: rgba(255,255,255,0.9)
