body {
  background-image: url("../../src/images/app-background.jpg");
  background-size: cover;
}

// containers

.header-bar {
  background-color: #A67086;
  border-bottom: 4px solid #5D5156;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 10px solid #5D5156;
  font-family: $heading-font;
  font-size: 20px;
  text-align: center;
  border-radius: $rounded-corners;
  background-color: $opaque-white;
}

.game-container {
  @extend .info-container;
  border: none;
  width: 59%;
  background-color: transparent;
}

.score-container {
  background-color: #B38282;
  width: 100%;
  text-align: center;
}

.incorrect-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  justify-content: center;
}

.question-heading {
  background-color: #c98fa6;
  width: 100%;
  text-align: center;
  border-radius: $rounded-corners;
  box-shadow: $shadow;
}

// elements

.app-title {
  font-family: $heading-font;
  font-size: 60px;
  justify-self: center;
  margin: 0px;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px $primary-color;
  color: #e8e4e3;
}

.score {
  margin: $center;
  font-family: $heading-font;
  font-size: 30px;
  font-weight: $emphasis;
}

.question {
  @extend .score;
  text-align: center;
}

.question-count {
  font-size: 25px;
  text-decoration: underline;
  font-family: $body-font;
}

.points-value {
  margin: 25px;
}

.category-bold {
  font-weight: $emphasis;
}

.difficulty-bold, 
.points-value-bold {
  @extend .category-bold;
}



.incorrect-info-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $opaque-tan;
  padding: 25px;
  border-radius: $rounded-corners;
  border: $border;
  width: 50%;
}

.app-title-alt {
  @extend .app-title;
}

.question-alt {
  @extend .question;
  font-size: 45px;
}

.incorrect-display {
  font-size: 40px;
}

.correct-display {
  font-size: 25px;
  font-style: italic;
  text-decoration: underline;
}

.show-correct {
  font-size: 30px;
  background-color: $opaque-white;
  padding: 20px;
  border: $border;
  border-radius: $rounded-corners;
}

.confirm-move-on {
  width: 200px;
  height: 100px;
  font-size: 24px;
  border-radius: $rounded-corners;
  font-weight: bold;
  box-shadow: $shadow;
  border: 2px solid $primary-color;
  background-color: #e2a1bb;
}

// hover states

.confirm-move-on:hover {
  cursor: pointer;
  border: $hover-border;
}






